<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam similique exercitationem eius esse. Modi dolores distinctio quasi natus! Ipsum, hic, officiis vitae magnam delectus inventore ipsa nihil, dolores enim vel molestiae totam reprehenderit sed repellendus sapiente? Corporis perferendis veniam non.</p>
    </div>
</div>