<div class="card">

  <div class="card-header bg-dark">
    <h3 class="card-title text-white">
      <i class="far fa-image"></i> Sube una imagen
    </h3>
  </div>
  <!-- Formulario de envío de imagen -->
  <div class="card-body">
    <form action="/images" method="POST" enctype="multipart/form-data">
      <!-- Selección de imagen a subir -->
      <div class="form-group">
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="image" class="custom-file-input"
                   id="inputGroup" aria-describedby="inputGroupFileAddon"
                   required>
            <label class="custom-file-label" for="inputGroupFile">Selecciona una imagen</label>
          </div>
        </div>
      </div>
      <!-- Título de la imagen -->
      <div class="form-group">
        <input type="text" name="title" class="form-control" 
               placeholder="Título de la imagen" required>
      </div>
      <!-- Descripción de la imagen -->
      <div class="form-group">
        <textarea name="description" class="form-control" rows="2"
                  placeholder"Descripción de la imagen" required>
        </textarea>
      </div>
      <!-- Boton Upload -->
      <div class="form-group">
        <button class="btn btn-success">
          <i class="fa fa-upload"></i> Upload
        </button>
      </div>
    </form>
  </div>
</div>