<div class="jumbotron mt-4">
    <h1 class='display-4'>App de notas y MongoDB</h1>
    <p class='lead'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod unde possimus odit et sint explicabo distinctio quasi. Incidunt, rerum quos!</p>
    <hr class='my-4'>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea velit qui mollitia itaque provident, vero voluptas nulla voluptatem at laboriosam ad recusandae eaque sapiente aliquam, voluptate necessitatibus, excepturi tempore asperiores inventore. Nemo doloremque quas eaque quisquam consequuntur debitis inventore sit.</p>
    <a href="www.google.com" class='btn btn-primary btn-lg'>Google</a>
</div>