<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Notes App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a href="#" id='dropdownMenuLink' class="nav-link dropdown-toggle"
                role='button' data-toggle='dropdown' aria-haspopup='true'
                aria-expanded='false'>
                    Notas
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/notes">Mis Notas</a>
                    <a class="dropdown-item" href="/notes/add">Nueva Nota</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/users/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
    </nav>  
</div>




