<div class="card mb-2">
  <div class="card-header bg-dark text-white">
    <h5>
      <i class="far fa-chart-bar"></i> Stats
    </h5>
  </div>
  <div class="card-body">
    <p><i class="far fa-folder"></i> _Items_ en la base de datos : {{sidebar.stats.total_items_}}</p>
  </div>
</div>
