<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                        {{title}} <a href="#"><i class="fas fa-edit"></i></a> <!-- icono editar-->
                    </h4>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>