<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>imgShare</title>
  
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/public/css/styles.css">

</head>
<body>
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a href="/" class="navbar-brand">
        <img src="/public/images/imgshare-logo.png" alt="imgshare">
      </a>
    </div>
  </nav>

  <!-- Cuerpo de la aplicación -->
  <div class="container p-4">
    <div class="row">
      <div class="col-md-8">
        {{{ body }}}
      </div>
      <div class="col-md-4">

      </div>
    </div>
  
  </div>

</body>
</html>