<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Inicio de sesión
        </h1>
      </div>
      <img class="rounded-circle mx-auto d-block logo m-4" src="/img/logo.png" alt="Logo">
      <div class="card-body">
        <form action="/users/signin" method="POST">
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <button class="btn btn-primary btn-block">
            Entrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>